body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#image {
    background-image: url("https://purr.objects-us-east-1.dream.io/i/mh08E.jpg");
    width: 70vw;
    height: 70vw;
    max-width: 400px;
    max-height: 400px;
    margin: 15px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain, cover;
    border: 2px gray solid;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 1.5em;
    margin: 20px 10vw;
}

@media screen and (min-width: 1000px) {
    button {
        margin: 20px 80px;
    }
}

@media screen and (max-width: 350px) {
    button {
        margin: 10px 20px;
        width: 60px;
        height: 60px;
        font-size: 1.3em;
    }
}